<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/security
	   http://www.springframework.org/schema/security/spring-security.xsd">

    <import resource="classpath:META-INF/service-context.xml" />

    <context:component-scan base-package="org.legomanager.web" />

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <bean id="jacksonObjectMapper" class="com.fasterxml.jackson.databind.ObjectMapper" />

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean id="jacksonMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="jacksonObjectMapper" />
                <property name="supportedMediaTypes">
                    <list>
                        <bean class="org.springframework.http.MediaType">
                            <constructor-arg index="0" value="application" />
                            <constructor-arg index="1" value="json" />
                            <constructor-arg index="2" value="UTF-8" />
                        </bean>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:view-controller path="/" view-name="home" />
    <mvc:view-controller path="/login" view-name="login" />

    <mvc:default-servlet-handler />


    <!-- Spring Security -->

    <security:http>
        <security:intercept-url pattern="/login" access="permitAll" />
        <security:intercept-url pattern="/**/create" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/**/delete" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/**/edit" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
        <security:form-login
            login-page="/login"
            default-target-url="/"
            authentication-failure-url="/login?error"
            username-parameter="user"
            password-parameter="pass"
        />
        <security:logout logout-success-url="/login?logout" logout-url="/logout" />
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <!-- password: admin1 -->
                <security:user name="admin" password="e00cf25ad42683b3df678c61f42c6bda" authorities="ROLE_ADMIN,ROLE_USER" />
                <!-- password: user1 -->
                <security:user name="user" password="24c9e15e52afc47c225b757e7bee1f9d" authorities="ROLE_USER" />
            </security:user-service>
            <security:password-encoder hash="md5" />
        </security:authentication-provider>
    </security:authentication-manager>

</beans>